@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-volkhov: var(--font-volkhov);
  --font-poppins: var(--font-poppins);
  --font-jost: var(--font-jost);

  --color-primary: #484848;

  --breakpoint-very-large: 1860px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: poppins, sans-serif;
}
